
body {
  background: rgb(48, 10, 36);
  font-family: 'monaco';
  color: white;
}

a {
  color: #5555ff;
}

.container {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

#main {
 height: 95%;
 display: flex;
 flex-direction: row;
}

.footer {
  height: 5%;
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  //align-items: center;
}

.tilde {
  color: #40E0D0;
  font-weight: bold;
  padding-right: 1em;
}

.command {
  color: #40E0D0;
}

.code {
  font-family: 'monaco';
  color: #CCCCCC;
  overflow-x: auto;
}

.box-text {
  border: 1px solid #40E0D0;
  padding: 10px;
  text-align: center;
}

.led {
  width: 1em;
  height: 1em;
  margin-left: auto;
}

.led-green {
  background-color: #7FFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}

.led-yellow{
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
}

@-webkit-keyframes blinkYellow {
  from { background-color: #FF0; }
  50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to { background-color: #FF0; }
}

@-moz-keyframes blinkYellow {
  from { background-color: #FF0; }
  50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to { background-color: #FF0; }
}

@-o-keyframes blinkYellow {
  from { background-color: #FF0; }
  50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to { background-color: #FF0; }
}

@keyframes blinkYellow {
  from { background-color: #FF0; }
  50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
  to { background-color: #FF0; }
}

